[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
PlexAPI = "*"
crayons = "*"
pyyaml = "*"
mock = "*"
glob3 = "*"

[requires]
python_version = "3.8"
